mixin banner(modifier)
  section.adbro-thuyen-xua
    .adbro-thuyen-xua__top
      .adbro-thuyen-xua__bg
      .adbro-thuyen-xua__pic
      .adbro-thuyen-xua__logo
      .adbro-thuyen-xua__title
      .adbro-thuyen-xua__boat
      .adbro-thuyen-xua__btn
      .adbro-thuyen-xua__fish--1
      .adbro-thuyen-xua__fish--2
      .adbro-thuyen-xua__fish--3
      .adbro-thuyen-xua__fish--4
      .adbro-thuyen-xua__close
      .adbro-thuyen-xua__info
      a(href="{link}").adbro-thuyen-xua__link 
    .adbro-thuyen-xua__bottom
      .adbro-thuyen-xua__slider.swiper-container
        .adbro-thuyen-xua__wrapper.swiper-wrapper
          a(href="#").adbro-thuyen-xua__slide.adbro-thuyen-xua__slide1.swiper-slide
            .adbro-thuyen-xua__slide-btn
          a(href="#").adbro-thuyen-xua__slide.adbro-thuyen-xua__slide2.swiper-slide
            .adbro-thuyen-xua__slide-btn
          a(href="#").adbro-thuyen-xua__slide.adbro-thuyen-xua__slide3.swiper-slide
            .adbro-thuyen-xua__slide-btn
          a(href="#").adbro-thuyen-xua__slide.adbro-thuyen-xua__slide4.swiper-slide
            .adbro-thuyen-xua__slide-btn
